@model SupplierGetViewModel
@{
    ViewData["Title"] = @Model.Supplier.Name;
}

<div class="shadow col-md-8 offset-md-2">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <th scope="row">ID:</th>
                <td>@Model.Supplier.ID</td>
            </tr>
            <tr>
                <th scope="row">Name:</th>
                <td>@Model.Supplier.Name</td>
            </tr>
            <tr>
                <th scope="row">Location:</th>
                <td>@Model.Supplier.Location</td>
            </tr>
            <tr>
                <th scope="row">Contact:</th>
                <td>@Model.Supplier.Contact</td>
            </tr>
            <tr>
                <th scope="row">Supplied Reagents</th>
                <td>
                    @foreach(Reagent reagent in Model.Reagents)
                    {
                        <ul>
                            <li>
                                <a asp-controller="Reagent" asp-action="GetReagent" asp-route-id="@reagent.Id">
                                    @reagent.Name
                                </a>
                            </li>
                        </ul>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary" asp-area="" asp-controller="Suppliers" asp-action="UpdateSupplier" asp-route-id="@Model.Supplier.ID">Edit</a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                        Delete
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure want to delete @Model.Supplier.Name?
                <br />This will also delete:
                <ul>
                    @foreach (Reagent agent in Model.Reagents)
                    {
                    <li>@agent.Name</li>
                    }
                </ul>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form asp-controller="Suppliers" asp-action="DeleteSupplier" asp-route-id="@Model.Supplier.ID">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>