@model IEnumerable<Reagent>
@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-5">
    <h1 class="display-4 text-center">Reagents</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Alert Code</th>
                <th scope="col">Location In Lab</th>
                <th scope="col">Current Volume</th>
                <th scope="col">Supplier</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Reagent agent in Model)
            {
            <tr>
                <th scope="row">@agent.Id</th>
                <td><a asp-controller="Reagent" asp-action="GetReagent" asp-route-id="@agent.Id"> @agent.Name </a></td>
                <td>@agent.Alert</td>
                <td>@agent.Location</td>
                @if (agent.stateId == 1)
                {
                    <td>@agent.Volume mL</td>
                }
                else
                {
                    <td>@agent.Volume gms</td>
                }

                <td>@agent.Supplier.Name</td>
            </tr>
            }
        </tbody>
    </table>
</div>

