@model IEnumerable<Reagent>
@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-5 shadow">
    <div class="row">
        <div class="col-sm-11">
            <h1 class="display-4 text-center">Reagents</h1>
        </div>
        <div class="col-sm-1 mt-auto mb-auto">
            <a class="btn btn-primary" asp-area="" asp-controller="Reagent" asp-action="NewReagent">Add</a>
        </div>
    </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Alert Code</th>
                    <th scope="col">Location In Lab</th>
                    <th scope="col">Current Volume</th>
                    <th scope="col">Supplier</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Reagent agent in Model)
                {
                    <tr>
                        <th scope="row">@agent.Id</th>
                        <td><a asp-controller="Reagent" asp-action="GetReagent" asp-route-id="@agent.Id"> @agent.Name </a></td>
                        <td>@agent.Alert</td>
                        <td>@agent.Location</td>
                        @if (agent.stateId == 1)
                        {
                            <td>@agent.Volume mL</td>
                        }
                        else
                        {
                            <td>@agent.Volume gms</td>
                        }

                        <td>@agent.Supplier.Name</td>
                        @*<td>
                            <form asp-controller="Reagent" asp-action="DeleteReagent" asp-route-id="@agent.Id">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
</div>

